.modal {
    display: none;
    position: absolute;
    top: 20%;
    left : 40%;
    border: 1px solid black;
    border-radius: 5px;
}
#m_cntnt {
    float: left;
    text-align: left;
}
#m_cntnt span {
    color: orange;
    font-weight: 900;
}
#close_mexico {
    width: 100%;
    float: left;
}