@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Noto+Serif:ital,wght@1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;    
}
a:link { color: red; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a { color: blue; text-decoration: underline;}
html {
    font-size: 16px;
}
#wrap {
    float: left;
    width: 100%;
    height: 2000px;
}   
#wrap #blank {
    float: left;
    width: 100%;
    height: 100px;
}
#wrap #updn {
    top: 870px;
    right: 20px;
    position: fixed;
    float: right;
    width: 64px;
}
#wrap #updn svg {
    z-index: 99;
    cursor: pointer;
    display: none;
}